<h1 class="display-4">Bike Details</h1>
<div class="card m-auto">
    <img class="card-img-top" src="data:image/jpeg;base64,{{imgPath}}" alt="Card image cap">

    <div class="card-body">
        <h5 class="card-title">
            <p class="text-secondary">Type: </p>{{bike.type}}
        </h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <p class="text-secondary">Condition: </p>
            {{bike.condition}}
        </li>
        <li class="list-group-item">
            <p class="text-secondary">Available from: </p>
            {{bike.availability}}
        </li>
        <li class="list-group-item">
            <p class="text-secondary">Minimal days on rent:</p>
            {{bike.minRentalDay}}
        </li>
        <li class="list-group-item">
            <p class="text-secondary">Rent per day(Euro):</p>
            {{bike.rentPerDay}}
        </li>
        <li class="list-group-item">
            <p class="text-secondary">Located at:</p>
            <a href="https://www.google.com/maps/place/{{bike.location}}">{{bike.location}}</a>
        </li>
        <li class="list-group-item">
            <p class="text-secondary">Additional Details:</p>
            {{bike.description}}
        </li>
        <li class="list-group-item">
            <p class="text-secondary">Bike Owner</p>
            <a href="/profile/{{bike.owner}}">Visit owner's profile</a>
        </li>
    </ul>
    <div class="card-body">
        <a href="/reserve/{{bike._id}}" class="btn btn-success btn-lg m-auto">Reserve</a>
    </div>
</div>